body{
    margin: 0;
    background-color: rgb(76, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-container{
    background-color: #1C1C1C;
    width: 550px;
    margin: 40vh auto;
    padding: 20px 10px;
    border-radius: 10px;
}

.calculator-keypad input,
.calculator-display{
    font-size: 50px;
}
.calculator-display{
    background-color:#D4D4D2;
    height: 100px;
    padding-right: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.calculator-keypad{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.calculator-keypad input{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
}

.col{
    margin: 0 10px;
}

.numbers,
.equal{
    background-color: #505050;
}

.numbers,
.operators,
.equal{
    color: white;
}



.other{
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.numbers:hover,
.equal:hover{
    background-color: #686868;
}

.other:hover{
    background-color: #f3f3f3;
}

.operators:hover:not(.selected-operator){
    background-color: #ffb144;
}

.numbers:active,
.equal:active,
.other:active{
    font-size: 45px;
    transition: 0.2s;
}

.not-selected-operator{
    background-color: #FF9500;
}

.selected-operator{
    background-color: mediumslateblue;
}