body{
    margin: 0;
    background-color: rgb(76, 76, 76);
}

.calculator-container{
    background-color: #1C1C1C;
    width: 440px;
    margin: 40vh auto;
    padding: 10px;
    border-radius: 10px;
}

.calculator-keypad input,
.calculator-display{
    font-size: 50px;
}
.calculator-display{
    background-color:#D4D4D2;
    height: 100px;
    padding-right: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.calculator-keypad{
    display: flex;
    align-items: flex-end;
    
}
.calculator-keypad input{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: #505050;
    color: white;
    border: none;
}

.col{
    margin: 0 5px;
}

.operators, .clear-entrie, .clear-all{
    background-color: #FF9500;
}

.calculator-keypad  .clear-all, 
.calculator-keypad  .clear-entrie{
    background-color: #D4D4D2;
    color: #1C1C1C;
}